<div class="hero_div">

<h2> My Heroes </h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" id="detail" [class.selected]="hero === selectedHero">
        <span class="badge" > {{hero.id}} : </span>
        <span > {{hero.name}} </span> 
    </li>
</ul>
</div>

<app-hero-detail [hero] = "selectedHero" ></app-hero-detail>

<!-- <div *ngIf="selectedHero" class="input_div">

    <h3> {{selectedHero.name | uppercase}} Details </h3>

    <div> <span > Id: </span> {{selectedHero.id}} </div> <br>
    <div> <span > Name: </span> {{selectedHero.name}} </div>

    <div>
        <label> <br> Name:
            <input [(ngModel)]="selectedHero.name" placeholder="Enter Name" />
        </label>
    </div>
</div> -->

