<div class="hero_div">
  <h2> My Heroes </h2>

  <div>
    <label> Hero Name: <input #heroName /> </label>

    <button id="addBtn" (click)="add(heroName.value); heroName.value='' ">
      Add
    </button>
  </div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"> -->
      
       <a routerLink='/detail/{{hero.id}}'>
        <span class="badge"> {{hero.id}} : </span>
        <span> {{hero.name}} </span>
      </a>
      <button class="delete" title="delete hero" (click)="delete(hero)">&#10008; </button>
    </li>
  </ul>
</div>

